.grid-container {
  margin-top: 5%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2%;
}

.grid {
  white-space: pre;
}

.navbar {
  display: flex;
  justify-content: center;
  text-align: center;
}

button {
  margin-top: 10px;
  margin-left: 2px;
  margin-right: 2px;
}
